.headin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F242C;
    color: white;
    padding: 10px;
    gap: 90px;
  }
  
  .headin p {
    margin: 0;
  }
  
  .headin p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-left: 200px;
  }
  
  .headin p:last-child {
    position: absolute;
    right: 90px;
  }
  
  #sign {
    position: relative;
    left: 80px;
  }
  #icon1 {
    height: 18px;
    position: relative;
    right: 85px;
    
  }
  #icon2{ 
    height: 18px;
  }
  #icon3{
    height: 18px;
    position: relative;
    right: 80px;
    background-color: #FF0000;
  }
  #icon4{
    height: 18px;
    position: relative;
    left: 180px;
  }
  
  #mybutton {
    position: relative;
    left: 150px;
    height: 20px;
    width: 20px;
  }
  #brand {
    position: relative;
    left: 89x;
  }
  #cart {
   
  }
  .pics1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-left: 0%;
    width: 1400px;
    height: 320px;
    margin-bottom: 60px;
    padding-left: 0% ;
    margin-top: 30px;
    /* background-color: grey; */
   

    
    
    
  }
  
  div .pics1 img {
    width: 30%;
    height: 255px;
    position: relative;
    right: 80px;
    
    }
 
  
  .pics2 {
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    width: 900px;
    position: relative;
    left: 400px;
    gap: 90px;

  }
  .pics2 > img {
    width: 50%;
    height: 235px;
   
    
    }  
  #overall {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 100px;

  }
  #overall2 {
    position: relative;
    bottom: 85px;
  }
  #category {
    background-color: #EEB4B3;
    width: 300px;
    height: 270px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 6px;
    margin-top: 30px;

  }
  #category > p {
    position: relative;
    left: 10px;
    font-size: x-large;
    font-weight: 800;
   
  }
  #gif {
    margin-top: 30px;
    position: relative;
    bottom: 300px;
  }
  .viewbtn1 {
   
    display:flex;
    justify-content: center;
    gap:400px;
    position: relative;
    bottom: 770px;

  }
  .viewbtn2 {
    display:flex;
    /* background-color: #2F242C; */
    justify-content: center;
    gap: 350px;
    position: relative;
    bottom: 420px;
    position: relative;
    left: 18px;
  }
  #head {
   
   color: #FF0000; /* Set the text color to red */
  font-size: 24px; /* Set the font size to 24 pixels */
  font-weight: bold; /* Set the font weight to bold */
  text-decoration: underline; /* Add an underline to the text */
  text-align: center; /* Center-align the heading */
  background-color: #F0F0F0; /* Set a background color */
  padding: 10px; /* Add some padding around the heading */
  border: 2px solid #000000; /* Add a border around the heading */
  border-radius: 5px; /* Add rounded corners to the border */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 500px;
  position: relative;
  left: 600px;
  top: 20px;
  }
  .thebtn {
  /* CSS properties to style the buttons */
  background-color: #F0F0F0;
  color: #000000;
  font-size: 16px;
 border-radius: 5px;
 border: none;
 padding: 10px 20px;
 cursor: pointer;

}

.thebtn:hover {
  /* CSS properties for the button when hovered */
  background-color: #CCCCCC;
  color: #FFFFFF;
}
#category > h2 {
  position: relative;
  left: 30px;
  top: 7px;
}
#category > img {
  position: relative;
  bottom: 250px;
  left: 5px;

  width: 20x;
  height: 20px;
}




  