.headin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F242C;
    color: white;
    padding: 15px;
    gap: 90px;
    border-radius: 5px;
  }
  
  .headin p {
    margin: 0;
  }
  
  .headin p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-right: 780px;
  }
  
  .headin p:last-child {
    position: absolute;
    right: 40px;
    font-weight: bold;
  }
  #help{
    position: relative;
    left: 130px;
    font-weight: bold;
    cursor: pointer;
  }
  #help:hover {
    color: #EEB4B3;

  }
  #sign {
    position: relative;
    left: 140px;
    font-weight: bold;
    cursor: pointer;
  }
  #sign:hover {
    color: #EEB4B3;
  }
  #icon1 {
    height: 18px;
    position: relative;
    left: 118px;
    width: ;
  }
  #icon2{ 
    height: 18px;
    position: relative;
    right: 28px;
  }
  #icon3{
    height: 13px;
    position: relative;
    right: 10px;
    background-color: #FF0000;
  }
  #icon4{
    height: 18px;
    position: relative;
    right: 70px;
    left: 100px;
  }
  
  #mybutton {
    position: relative;
    left: 150px;
    height: 20px;
    width: 20px;
  }
  #brand {
    position: relative;
    left: 270px;
  }
  
  .pics1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    margin-left: 0%;
    width: 1900px;
    height: 320px;
    margin-bottom: 60px;
    padding-left: 0% ;
    margin-top: 30px;
    position: relative;
    left: 295px;
    /* background-color: grey; */
   

    
    
    
  }
  
  div .pics1 img {
    width: 50%;
    height: 295px;
    position: relative;
    right: 80px;
    
    }
 
  
  .pics2 {
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    width: 900px;
    position: relative;
    left: 400px;
    gap: 90px;
    border-radius: 9px;

  }
  .pics2 > img {
    width: 50%;
    height: 235px;
    border-radius: 9px;
    
    }  
  #overall {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 100px;

  }
  #overall2 {
    position: relative;
    bottom: 85px;
    
    width: 1400px;
  }
  #category {
    background-color: #2F242C;
    width: 600px;
    height: 270px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 6px;
    margin-top: 30px;

  }
  #footer {
    background-color: #2F242C;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
     z-index: 9999;
     color: white;
  }
  #footer > p {
    position: relative;
    bottom: 10px;
  }
  #category > p {
    position: relative;
    left: 20px;
    font-size: x-large;
    font-weight: 800;
    color: #f0f0f0;
    cursor: pointer;
  }
  #category > p:hover {
    color: red;
  }
  #gif {
    margin-top: 30px;
    position: relative;
    bottom: 300px;
    left: 60px;
  }
  .viewbtn1 {
   
   
   position: relative;
   top: 350px;
   display: flex;
   gap: 250px;
   height: 40px;
   right: 670px;
   
  }
  .viewbtn2 {
    display:flex;
   
    justify-content: center;
    gap: 350px;
    position: relative;
    bottom: 420px;
    position: relative;
    left: 230px;
    width: 1400px;
   
    
  }
  #head {
   
   color: #FF0000; /* Set the text color to red */
  font-size: 24px; /* Set the font size to 24 pixels */
  font-weight: bold; /* Set the font weight to bold */
  text-decoration: underline; /* Add an underline to the text */
  text-align: center; /* Center-align the heading */
  background-color: #F0F0F0; /* Set a background color */
  padding: 10px; /* Add some padding around the heading */
  border: 2px solid #000000; /* Add a border around the heading */
  border-radius: 5px; /* Add rounded corners to the border */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 500px;
  position: relative;
  left: 600px;
  top: 20px;
  }
  .thebtn {
  /* CSS properties to style the buttons */
  background-color: #F0F0F0;
  color: #000000;
  font-size: 16px;
 border-radius: 5px;
 border: none;
 padding: 10px 20px;
 cursor: pointer;

}

.thebtn:hover {
  /* CSS properties for the button when hovered */
  background-color: #CCCCCC;
  color: #FFFFFF;
}
.mybtn{

 background-color: #F0F0F0;
  color: #000000;
  font-size: 16px;
 border-radius: 5px;
 border: none;
 padding: 10px 20px;
 cursor: pointer;
 position: relative;
 bottom: 9px;
}
.mybtn:hover {
  /* CSS properties for the button when hovered */
  background-color: #CCCCCC;
  color: #FFFFFF;
}
#category > h2 {
  position: relative;
  left: 30px;
  top: 7px;
  background-color: grey;
  border-radius: 5px;
  width: 140px;
  text-align: center;
}
#category > img {
  position: relative;
  bottom: 250px;
  left: 5px;

  width: 20x;
  height: 20px;
}
.trial {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  background-color: #EEB4B3;
  margin-bottom: 120px;
  
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 10px;

}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  background-color: grey;
  width: 600px;
  
}

.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.item-name {
  font-weight: bold;
}
#btn {
  position: relative;
  bottom: 10px;
}
#display1 {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 1280px;
  bottom: 4200px;
  width: 600px;
  gap: 5px;
}

.cart-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  flex-basis: 25%; /* Adjust the width as needed */
}

.cart-item p {
  margin: 5px 0;
}

.cart-item .name {
  font-weight: bold;
}

.cart-item .price {
  color: green;
}
#definecart{
  font-family: Arial, Helvetica, sans-serif;
   position: relative;
   left: 1400px;
   bottom: 4190px;

}
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  bor der: 1px solid #ccc;
  border-radius: 4px;
  width: 600px;
  position: relative;
  bottom: 1300px;
  left: 950px;
  

}

.signup-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  bottom: 1300px;
  left: 950px;
}

.signup-button:hover {
  background-color: #45a049;
}
#alc {
  height: 1300px;
  width: 500px;
  background-color: #000000;
}



